body > div {
  width: 520px;
  height: 480px;
  background: #bdd3e9;
  margin: 10px;
  border-radius: 6px;
}

header {
  display: flex;
}

header > div:nth-child(2) {
  margin-left: 275px;
}

header input {
  padding: 3px;
  width: 50px;
  text-align: center;
  background: linear-gradient(
    #f0f6fb 0%,
    #d8e3f0 49%,
    #b3c5db 50%,
    #d7e2ef 100%
  );
  cursor: pointer;
  box-shadow: 0 0 2px black;
  margin: 0;
  float: right;
  color: white;
  font-weight: 900;
  width: 35px;
  border: none;
}

header input:first-child {
  text-shadow: 0 2px 0 black;
  border-radius: 0px 0px 6px 0px;
  width: 60px;
  background: linear-gradient(#f07d7d 50%, #eb4b4b 50%);
}

header input:last-child {
  border-radius: 0px 0px 0px 6px;
}

header input:nth-child(2) {
  opacity: 0.8;
}

header input:hover {
  background: #aad9f8;
}

header img {
  margin: 8px 6px 0 11px;
}
header > div:first-child {
  display: flex;
}

header p {
  margin-top: 12px;
}

form {
  width: 495px;
  height: 425px;
  background: #e7eff7;
  margin: 0px auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(4, 41, 97, 0.959);
}

nav {
  height: 20px;
  box-shadow: 0px 2px 2px #ccc;
  background: linear-gradient(#e7eff7 35%, #d6dfe9 65%);
}
nav ul {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin-top: 5px;
}

nav ul li {
  padding: 0px 8px;
}

nav ul li:first-letter {
  text-decoration: underline;
}

nav ul li:hover {
  background-color: rgba(164, 221, 248, 0.6);
  cursor: pointer;
}

form > input {
  width: 470px;
  border-radius: 4px;
  height: 50px;
  text-align: right;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: block;
  margin: 15px auto 0;
  background-color: #edf3f8;
  font-size: 1.7em;
  letter-spacing: 1.5px;
  color: rgb(22, 21, 21);
  font-weight: 500;
}

.numbers {
  width: 475px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: block;
  margin: 8px auto;
  background-color: #dee7f0;
  font-size: 0.9em;
}

.numbers td {
  padding: 0 14px;
}

.numbers tr:nth-child(even) {
  color: grey;
}

.td-right {
  text-align: right;
}

aside > div {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  width: 65px;
  height: 95px;
  font-size: 0.9em;
  margin-bottom: 5px;
  padding: 5px;
  padding-right: 19px;
}

section {
  display: flex;
  width: 470px;
  margin: 0px auto;
}
aside > div:last-child {
  margin-top: 10px;
}

aside > div > div {
  margin-bottom: 5px;
}

section > table {
  margin: 0 auto;
  margin-right: 0;
  position: relative;
}

table input {
  box-shadow: none;
  border: none;
  width: 42px;
  height: 34px;
  font-size: 0.9em;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}

.equls {
  height: 72px;
  top: 155px;
}
.equls,
.null {
  position: absolute;
}

.null {
  width: 88px;
  top: 193px;
}

input.disabled {
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 2px black;
}

input.active:hover {
  background: linear-gradient(#f7ddb4 50%, #fac063 50%);
  box-shadow: 1px 1px 2px #f3b16a, 0px -1px 5px white inset;
  border-color: #fcb84b;
}
