$color: rgb(56, 56, 56);
@mixin height {
  overflow: hidden;
  height: 60vmin;
}

* {
  background-color: $color;
  color: #fff;
  font-family: sans-serif;
}

.slider {
  display: flex;
  width: 100%;
  overflow: hidden;

  h2 {
    text-transform: uppercase;
  }

  .images {
    overflow: auto;
    width: 60%;
    height: 700px;
    display: block;

    & > div > a {
      display: block;
      margin-bottom: 10px;

      & > img {
        width: 100%;
        height: auto;
      }
    }
  }

  .gallery {
    margin-left: 20px;

    .slides {
      @include height;
      padding: 0;
      width: 100%;
      a {
        width: 50%;
        z-index: 1;
        @include height;

        & > img {
          width: 50%;
          height: 100%;
        }

        &:target {
          z-index: 3;
        }
      }
    }
  }
}
