* {
  background-color: #383838;
  color: #fff;
  font-family: sans-serif;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.slider h2 {
  text-transform: uppercase;
}

.slider .images {
  overflow: auto;
  width: 60%;
  height: 700px;
  display: block;
}

.slider .images > div > a {
  display: block;
  margin-bottom: 10px;
}

.slider .images > div > a > img {
  width: 100%;
  height: auto;
}

.slider .gallery {
  margin-left: 20px;
}

.slider .gallery .slides {
  overflow: hidden;
  height: 60vmin;
  padding: 0;
  width: 100%;
}

.slider .gallery .slides a {
  width: 50%;
  z-index: 1;
  overflow: hidden;
  height: 60vmin;
}

.slider .gallery .slides a > img {
  width: 50%;
  height: 100%;
}

.slider .gallery .slides a:target {
  z-index: 3;
}
/*# sourceMappingURL=style.css.map */