* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

#main_site {
  display: flex;
  border: 2px solid rgb(63, 63, 63);
  width: 53%;
}

h4 {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.left ul {
  padding-left: 0;
}

ul li {
  cursor: pointer;
}

.left a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.left {
  width: 30%;
}

.right a,
.left b,
.middle a {
  color: rgb(180, 2, 2);
}

.right {
  width: 35%;
}

.right div {
  border: 1px solid rgb(128, 125, 125);
  margin: 2px 3px;
}

.right h4 {
  background-color: rgb(128, 125, 125);
  color: white;
  font-weight: 200;
  text-align: center;
  margin: 0 0 9px;
}

.right input[type="text"] {
  width: 100px;
  margin-left: 35px;
}

.right input {
  border: 1px solid rgb(76, 76, 212);
  padding: 3px;
}

.right ul {
  text-align: center;
  padding-left: 0;
  margin: 5px;
}

#btn {
  margin-right: 6px;
  background: none;
  border-radius: 3px;
  width: 25px;
  font-weight: 700;
}

#btn25 {
  padding: 7px 20px;
  font-weight: 700;
  background: radial-gradient(rgb(199, 229, 247), rgb(176, 220, 255));
  color: rgb(73, 194, 216);
  font-size: medium;
  margin: 3px 35px;
}

.middle input[type="button"] {
  width: 120px;
  background: none;
  border-color: black;
  padding: 3px;
}

.arrows {
  display: flex;
}

.arrows > div {
  margin-right: 5px;
}

.text-field {
  position: relative;
}

.text-field::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
}

.text-field::after {
  content: "";
  position: absolute;
  right: 4px;
  top: 1px;
}

.prev::before {
  content: "⮜";
}

.next::after {
  content: "⮞";
}

hr {
  border: none;
  background-color: rgb(128, 125, 125);
  height: 2px;
}

.middle h4 {
  text-align: left;
  background-color: rgb(128, 125, 125);
  color: white;
  font-weight: 600;
  margin: 0 0 9px;
  text-transform: capitalize;
  padding-left: 5px;
}

.css {
  display: flex;
}

.middle {
  border: 1px solid rgb(128, 125, 125);
  margin: 3px 0;
  padding: 5px 5px 65px 5px;
  height: 100%;
}

.info {
  margin-left: 5px;
}

.info > p:first-child {
  margin-top: 0;
}

.bottom {
  margin-bottom: 15px;
}
