table,
tr,
td {
  border-collapse: collapse;
  font-size: 1.2em;
  padding: 10px;
}
table {
  width: 50%;
}

tr:first-child {
  background-color: rgb(112, 167, 57);
  color: #fff;
}

tr:nth-child(3),
tr:nth-child(5) {
  background-color: rgb(245, 245, 220);
}

.flex {
  display: flex;
}
span {
  margin: 5px 0 0 10px;
}

tr:first-child td {
  border: 2px solid green;
}

td {
  border-right: 2px solid rgb(199, 180, 156);
}
tr:last-child td {
  border-bottom: 2px solid rgb(199, 180, 156);
}

tr td:first-child {
  border-left: 2px solid rgb(199, 180, 156);
}

input[type="checkbox"] {
  display: none;
}

label {
  line-height: 30px;
}

label:before {
  content: " ";
  color: gray;
  display: inline-block;
  margin-left: 18px;
  text-align: center;
  width: 30px;
  height: 30px;
  background: rgb(201, 197, 197);
  border: 1px solid gray;
}

input:checked + label:before {
  content: "\2714";
}
