figure {
  display: flex;
}

h1 {
  font-size: 4em;
  margin: 55px 0 0 150px;
}

a {
  text-decoration: none;
  color: black;
}

table,
td,
th {
  border: 2px solid;
}

table {
  border-collapse: collapse;
}

a,
tr {
  font-size: 2em;
}

section {
  margin: 30px 0 60px 40px;
}
