@font-face {
    font-family: "Consolas";
    src: url("./fonts/consolas/CONSOLA.TTF");
  }
  
  @font-face {
    font-family: "Edwardian Script ITC";
    src: url(./fonts/edwardian/EDWASAIB.ttf);
  }
  
  * {
    color: #0094ff;
  }
  
  span {
    font-family: "Edwardian Script ITC";
    font-size: 3em;
  }
  
  p {
    font-family: "Consolas";
    margin-right: 70%;
  }
  
  ::first-line {
    font-weight: bold;
  }
  