form {
  border: 2px solid black;
  border-radius: 3px;
  width: 40%;
}

ul {
  list-style: none;
  display: inline-block;
  margin: 0 12%;
}

ul li {
  display: inline;
  cursor: pointer;
  font-size: 30px;
}

a {
  color: blue;
}

hr {
  width: 95%;
  border: none;
  background-color: #000;
  height: 2px;
}

fieldset {
  display: flex;
  border: 2px solid;
  margin: 5px;
}

fieldset > div:last-child {
  margin-top: 32px;
}

fieldset > div:nth-child(2) > p {
  margin-left: 45px;
}

.range {
  font-size: 20px;
  margin: 130px 0 0 10px;
}

.range div {
  margin-bottom: 20px;
}

.range span {
  margin-right: 5px;
}

section {
  display: flex;
  margin-bottom: 10px;
}

#section-about > div {
  display: flex;
}

#section-about {
  border: 2px solid black;
  margin: 0 10px;
}
