* {
  list-style-type: none;
}

.submenu {
  position: absolute;
  opacity: 0;
  left: -27px;
}

#menu > li:hover {
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 70px;
}

#menu > li {
  position: relative;
}

#menu > li:hover > .submenu {
  transition: all 2s ease;
  opacity: 1;
  color: grey;
}
