table {
  width: 30%;
  background-color: dimgrey;
  font-size: 1.5em;
}

caption {
  background-color: dimgrey;
  text-align: left;
  font-size: 1.6em;
  color: lightgrey;
  padding: 10px 0 10px 10px;
}

th,
td {
  padding: 10px;
}

em {
  color: white;
}

#disc::before {
  width: 1em;
  height: 1em;
  display: inline-block;
  content: "";
  background-color: green;
  border-radius: 50%;
  margin-right: 7px;
}

td:first-child {
  width: 33%;
}

#name > p {
  margin: 0;
}

#disc,
#email > td:last-child,
#action > td > p:last-child {
  color: yellow;
}
#action > td > p:last-child {
  margin: 0;
}

#action > td > p:first-child {
  margin-top: 0;
}

#name > p:last-child {
  color: red;
}

#time > td:last-child,
#action > td > p:first-child {
  color: lightgrey;
}

#status > td:last-child {
  color: orange;
}

#action > td:first-child,
table tr:first-child td:first-child {
  vertical-align: top;
}
