#music {
  width: 30%;
  background-color: rgb(245, 241, 241);
  padding: 5px 20px;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 10px;
}

h2 {
  font-weight: 100;
}

.item {
  display: flex;
  border: 1px solid rgb(139, 139, 139);
  padding: 20px;
  margin: 40px 0;
  background-color: #ffffff;
}

.item > div > img {
  border: 1px solid rgb(139, 139, 139);
  height: 183px;
  width: 275px;
}

.buttons {
  display: flex;
  position: relative;
  cursor: pointer;
  float: right;
}

p {
  margin: 20px 6px 65px 20px;
}

span {
  position: absolute;
  z-index: 1;
  color: #ffffff;
  top: 6px;
}

#listen {
  left: 23px;
}

#add {
  right: 33px;
}
