﻿body {
  background: black;
  color: white;
  font-family: Verdana;
  box-sizing: border-box;
}

#console {
  overflow: auto;
  border: 1px solid #00ff00;
  margin: 20px 0 0 0px;
  color: #00ff00;
}

a {
  color: white;
  text-decoration: none;
}

button {
  border: 1px solid #949494;
  width: 192px;
  height: 30px;
  padding-left: 0px;
  color: #1c1c1c;
  margin-top: 20px;
}

input {
  border: 1px solid #949494;
  width: 180px;
  height: 25px;
  padding-left: 10px;
  background: #282828;
  color: #e0e0e0;
}

.current {
  font-weight: bold;
  text-decoration: underline;
  background: rgb(0, 204, 204);
}

ul {
  background: #535353;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100px;
}

li:hover {
  cursor: pointer;
  background: rgb(0, 204, 204);
  color: #ffffff;
  height: 100%;
}

li {
  font-size: 16px;
  padding: 15%;
  width: 100%;
  border-right: 2px solid #00ff00;
}

.show {
  display: block;
}

.hidden {
  display: none;
}