* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "segoe ui", sans-serif;
}

html,
body {
  height: 100%;
}

.site_header {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}

.main_menu {
  text-align: center;
}
.main_menu > a:visited {
  color: rgba(0, 0, 0, 0.8);
}

.main_menu > a {
  padding: 0 7px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1vw;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
}

.main_menu > a:hover {
  color: rgba(82, 179, 217, 1);
  text-decoration: underline;
}
.main_menu > a:active {
  color: blue;
}
.logo_image {
  width: 100%;
}

.logo_menu {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.75);
  font-size: 1.3rem;
}

.text > p:first-child {
  font-weight: 300;
  font-size: 4.4vw;
}

.text > p:nth-child(2) {
  padding: 3% 8%;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.5vw;
  font-weight: 300;
}

.text {
  width: 100%;
  text-align: center;
  padding: 5% 15%;
  position: relative;
  z-index: 2;
}

.text > button {
  border: 3px solid rgba(0, 0, 0, 0.08);
  padding: 7px 10px;
  border-radius: 20px;
  background: none;
  text-transform: capitalize;
  font-size: 1rem;
  color: rgba(46, 204, 113, 0.9);
  cursor: pointer;
}

.text > button:hover {
  color: rgba(82, 179, 217, 1);
}

p:lang(en) {
  color: rgb(24, 141, 141);
}

.text p:nth-child(2)::first-line {
  text-decoration: underline;
}

.text p:nth-child(2)::before {
  content: "<<";
}
.text p:nth-child(2)::after {
  content: ">>";
}

.site_footer {
  display: flex;
  position: relative;
  z-index: 2;
}

.text_footer {
  margin-left: 10%;
}

.text_footer > h3 {
  padding-bottom: 3%;
  text-transform: capitalize;
  font-weight: 350;
  font-size: 1.7vw;
}

.text_footer > p {
  padding-right: 5%;
  font-size: 1vw;
  color: rgba(0, 0, 0, 0.6);
}
.images {
  width: 100%;
  padding-left: 15%;
}
.images > img {
  width: 17%;
  padding: 0 3%;
}
