﻿body {
  background: black;
  color: white;
  font-family: Verdana;
  box-sizing: border-box;
}

#console {
  overflow: auto;
  border: 1px solid #00ff00;
  margin: 20px 0 0 0px;
  color: #00ff00;
}

a {
  color: white;
  text-decoration: none;
}

button {
  border: 1px solid #949494;
  height: 25px;
  padding: 5px;
  color: #1c1c1c;
  margin-top: 5px;
}

input[type="text"] {
  border: 1px solid #949494;
  width: 180px;
  height: 25px;
  padding-left: 10px;
  background: #282828;
  color: #e0e0e0;
}

.current {
  font-weight: bold;
  text-decoration: underline;
  background: rgb(0, 204, 204);
}

#nav {
  background: #535353;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.item:hover {
  cursor: pointer;
  background: rgb(0, 204, 204);
  color: #ffffff;
  height: 100%;
}

.item {
  font-size: 16px;
  padding: 2%;
  width: 100%;
  border-right: 2px solid #00ff00;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.lonelyDiv1,
.lonelyDiv2,
.insideDiv,
.parentDiv {
  border: 2px solid;
  border-color: blue;
  width: 15%;
  padding: 10px;
  margin: 10px;
}

.parentDiv>.insideDiv {
  width: 80%;
  margin: 10px auto;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  width: 50px;
}

.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #fff;
  position: absolute;
}