#info {
  background-color: rgb(121, 118, 118);
  width: 46%;
}

.item {
  display: flex;
  align-items: center;
  padding: 20px 85px;
}

label {
  color: #fff;
  margin: 0 15px;
}

input::placeholder {
  color: #000;
}

input {
  padding: 5px;
}

input:nth-child(3) {
  margin: 0 15px;
}

input[type="button"] {
  padding: 5px 17px;
  box-shadow: 0 0 1px black;
  border: none;
  border-radius: 3px;
  background: linear-gradient(rgb(255, 255, 255) 50%, rgb(224, 223, 223) 50%);
}

.image {
  margin-left: 30px;
}

h2 {
  margin-top: -20px;
  color: rgb(253, 194, 0);
}

#about {
  padding: 0 40px 70px;
}

p {
  color: rgb(190, 188, 188);
}
