* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  font-size: 1.1rem;
  font-family: Arial, serif;
  background: linear-gradient(90deg, #e2ecd4, #f7e2d3, #f7cef1) no-repeat center center fixed;
  background-size: cover;
}

form {
  border: 2px solid rgb(123, 123, 156);
  width: 630px;
  padding: 25px 10px 10px 30px;
  border-radius: 5px;
}

form p {
  font-style: italic;
  font-weight: 500;

}

form+button {
  margin-top: 10px;
}

input {
  margin: 5px;
  height: 30px;
  width: 150px;
  font-size: 1rem;
  border-radius: 5px;
}

input::placeholder {
  font-size: .9rem;
  color: rgb(123, 123, 156);
}

button {
  height: 30px;
  width: 140px;
  border-radius: 5px;
  border: 2px solid rgb(123, 123, 156);
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background: #e7cfe4;
}

.final {
  font-weight: bold;
  letter-spacing: 2px;
  color: #6186aa;
}

#time {
  margin-top: 10px;
}