body {
  font-family: Verdana;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

.current {
  font-weight: bold;
  text-decoration: underline;
  background: rgb(0, 204, 204);
}

#nav {
  background: #535353;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.item:hover {
  cursor: pointer;
  background: rgb(0, 204, 204);
  color: #ffffff;
  height: 100%;
}

.item {
  font-size: 16px;
  padding: 4%;
  width: 100%;
  border-right: 2px solid #00ff00;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

#task {
  position: relative;
}

#task div {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 600px;
}

button {
  border: 1px solid #949494;
  height: 25px;
  padding: 5px;
  color: #1c1c1c;
  margin: 5px;
}

input {
  border: 1px solid #949494;
  width: 150px;
  height: 15px;
  padding: 8px;
}

.trash {
  margin: 20px;
  display: block;
}

.paper {
  position: absolute;
  width: 50px;
}