* {
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Segoe UI", sans-serif;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: rgb(204, 197, 197);
}

#info {
  width: 40%;
  border-radius: 6px;
  background-color: rgb(4, 78, 78);
  height: 100%;
  border: 1px solid rgb(0, 204, 204);
}

#menu {
  display: flex;

  width: 81%;
  background-color: rgb(83, 148, 148, 0.4);
  text-align: center;
}

#menu > li {
  padding: 2%;
  border-right: 2px solid rgb(4, 78, 78);
}

#menu > li > a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.active {
  background-color: rgb(4, 78, 78);
}

.active a {
  color: white;
}

#menu-news {
  display: flex;
}

#news {
  color: rgb(204, 197, 197);
  margin-top: 0;
}

#news > li {
  padding: 3% 8% 3% 3%;
}

#news > li > a:hover {
  cursor: pointer;
  color: white;
}

#news > li:hover {
  background: rgb(9, 165, 165);
}

img {
  margin-right: 45px;
}
